################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/AnalizadorLexico/.vs/AnalizadorLexico/v16/Server/sqlite3
